body { 
    text-align: center; 
    align-content: center; 
    list-style-position: inside; 
}

h1, h2 { 
    background-color: lightblue; 
    border-radius: 5px; 
    padding: 8px 0 8px 0; 
}
h2 { 
    width: 500px; 
    margin: 0 auto; 
    margin-top: 15px; 
    margin-bottom: 15px;
}

h1 {
  width: 1000px;
    
}


p { 
    width: 400px; 
    text-align: center; 
    margin: 0 auto; 
    margin-top: 10px; 
}

.listContainer { 
    display: flex; 
    flex-direction: column;
    

}

.headerContainer, .recipeContainer { 
    display: flex; 
    justify-content: center;  
    flex-wrap: wrap; 
    align-content: stretch;
   /* border: 2px solid black; */
}


.headerItem { 
    display: flex;
}

.recipeContainer { 

}

.linksContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 50px;
}

a {
    display: flex;
    background-color: lightblue;
    border-radius: 4px;
    width: 90px;
    color: black;
    border-color: transparent;
    font-weight: bold;
    transition-duration: 0.4s;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    box-shadow: 3px 3px #999;
}    


a:hover {background-color: #4279e0}

a:active {
  background-color: #4279e0;
  
  transform: translateY(4px);
  -webkit-transition:linear 0.1s;
  
}