body { 
    text-align: center; 
    align-content: center; 
    list-style-position: inside; 
}

h1, h2 { 
    background-color: lightblue; 
    border-radius: 5px; 
    padding: 8px 0 8px 0; 
}

h2 { 
    width: 500px; 
    margin: 0 auto; 
    margin-top: 15px; 
}

a {

background-color: lightblue;
border-radius: 4px;
color: black;
border-color: transparent;
font-weight: bold;
width: 300px;
transition-duration: 0.4s;



}

p { 
    width: 400px; 
    text-align: center; 
    margin: 0 auto; 
    margin-top: 10px; 
}

.listContainer { 
    display: flex; 
    flex-direction: column;
}

.headerContainer, .recipeContainer { 
    display: flex; 
    justify-content: center;  
    flex-wrap: wrap; 
    align-content: stretch;

}

.headerContainer {

}

.headerItem { 
    width: 100%; 
}

.recipeContainer { 
    height: 100px;
    gap: 10px; /* added this line */

}